a:hover{
    text-decoration: none;
}


.dec_link{
    text-decoration: none;
    font-style: italic;
    color: #46B3CE;
}

.dec_link:hover{
    color: #46B3CE;
    text-decoration: underline;
}

.list li{
    font-style: italic;
}

.header img{
    height: 130px;
    width: 130px;
    padding-top: 10px;
}

.header{
    background-color: #46B3CE;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.header p{
    font-style: italic;
}

.row{
    margin-top: 70px;
}


.name{
    font-style: italic;
}

.auth_img{
    border-radius: 50%;
}

.button {
  display: inline-block;
  background-color: #46B3CE;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.likes{
    margin-right:10px;
    margin-top: 5px;
    transition: 0.2s;
    cursor: pointer;
}


.search_icon{
    border-radius: 0;
}

.side_box{
    margin-bottom: 20px;
}

.footer{
    background-color: #46B3CE;
    color: white;
     padding:40px;
}

