  
       .space{
          height: 560px;     
        }
        
        .img-space{
            height: 60px;
        }    

       .down-nav img{
        height: 100px;
        width: 100px;
        border-radius: 50%; 
       }        
        
        .heading {

          text-align: center;
          margin-top: 30px;
            margin-bottom: 20px;

        }


    .footer{
    background-color: #46B3CE;
    color: white;
     padding:40px;
        margin-top: 30px;
}

