  
         .space{
          height: 400px;     
        }
        
        .img-space{
            height: 60px;
        }    

       .down-nav img{
        height: 100px;
        width: 100px;
        border-radius: 50%; 
       }        
        
  